# Database Settings
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=gomemodb
DB_HOST=db

# Proxy Settings
HTTP_PROXY=http://your.proxy:port
HTTPS_PROXY=http://your.proxy:port

# Frontend Settings
NEXT_PUBLIC_API_URL=http://your.localhost:port